body {
    background: white;
}

section {
    background: whitesmoke;
    border: 1px solid black;
}

input,select {
    padding: 10px;
    /*border: 2px solid red;*/
}

label {
    width: 14em;
    float: left;
}

h1, h3, h4 {
    margin-left: 10%;
}

textarea {
    width: 15vw;
    height: 5vw;
    resize: none;
}

@media only screen and (max-width: 768px) {
    div {
        display: grid;
        grid: auto / auto;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 769px) {
    div {
        display: grid;
        grid: auto / auto auto;
        margin-left: 10%;
    }

    div.drop-downy {
        grid: auto / auto auto auto;
        margin-left: 10%;
        margin-right: 60%;
    }

    div.dalsie {
        grid: auto / auto auto auto auto;

    }
}

.meno {

}

.narodenie {

}

.pohlavie {

}

.pohMuz {

}

.drop-downy {

}

.cislo-mail {

}

.dalsie {

}

.choroby {

}

.odoslat {

}

#doplnokM {
    display: none;
}

#doplnokZ {
    display: none
}

#labelDoplnokM {
    display: none;
}

#labelDoplnokZ {
    display: none
}

#doplnkoveSluz {
    display: none;
    width: 12vw;
    max-height: 3vw;
    margin-left: 1%;
}

